/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2014, 11:25:45 PM
    Author     : Phil
*/

.root{
    -fx-spacing: 30;
    -fx-background-color: lightyellow;
    -fx-padding: 20;
  
}
.button {
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: lightskyblue;
}
